  .tc_education_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 23.125rem;
    background: #fff;
    box-shadow: 0 0.125rem 1.25rem 0 rgba(0, 0, 0, 0.1)
  }

  .tc_education_button_container {
    display: flex;
    justify-content: flex-end;
    padding: 0.3125rem
  }

  .tc_education_button_close {
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer
  }

  .tc_education_content {
    overflow: auto;
    padding-left: 0.625rem;
    padding-right: 0.625rem
  }

  .tc_education_event_name {
    font-weight: 600;
    font-size: 1.5625rem;
    margin-bottom: 0.625rem
  }

  div.tc-plugin-wrapper {
    display: flex;
    flex-direction: column;
    height: 400px
  }

  div.tc-plugin-wrapper .tc-plugin-toolbar-container {
    flex-grow: 0
  }

  div.tc-plugin-wrapper .tc-plugin-toolbar-container div.toolbar {
    display: flex;
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #e0e0e0
  }

  div.tc-plugin-wrapper .tc-plugin-toolbar-container div.toolbar .toolbar-section-label {
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
    min-height: 22px
  }

  div.tc-plugin-wrapper .tc-plugin-toolbar-container div.toolbar .toolbar-section-label.centered {
    justify-content: center
  }

  div.tc-plugin-wrapper .tc-plugin-toolbar-container div.toolbar .toolbar-section-label span {
    align-self: flex-end
  }

  div.tc-plugin-wrapper .tc-plugin-toolbar-container div.toolbar div.toolbar-section {
    padding: 5px;
    margin-right: 5px;
    align-items: center
  }

  div.tc-plugin-wrapper .tc-chart-container {
    flex-grow: 1
  }

  div.tc-plugin-wrapper .tc-chart-container iframe {
    height: 100% !important
  }

  .tc-controls-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px
  }

  .tc-controls-switch input {
    opacity: 0;
    width: 0;
    height: 0
  }

  .tc-controls-switch input:checked+.slider {
    background-color: #2196f3
  }

  .tc-controls-switch input:focus+.slider {
    box-shadow: 0 0 1px #2196f3
  }

  .tc-controls-switch input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px)
  }

  .tc-controls-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.25s;
    transition: 0.25s
  }

  .tc-controls-switch .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: 0.25s;
    transition: 0.25s
  }

  .tc-controls-switch .slider.round {
    border-radius: 16px
  }

  .tc-controls-switch .slider.round:before {
    border-radius: 50%
  }